CosmicWatch-NodeRed.json
[
    {
        "id": "6caafa316e63ba15",
        "type": "tab",
        "label": "Cosmic Watch Live",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "2de08849a8e688a4",
        "type": "group",
        "z": "6caafa316e63ba15",
        "name": "",
        "style": {
            "fill": "#c8e7a7",
            "label": true
        },
        "nodes": [
            "606c0b3e9733764b",
            "4491cfb6c81daf38",
            "55268fbd20e72ff7",
            "5752e603a714bd63",
            "05cc7a816e0b0a93"
        ],
        "x": 34,
        "y": 79,
        "w": 652,
        "h": 122
    },
    {
        "id": "55268fbd20e72ff7",
        "type": "inject",
        "z": "6caafa316e63ba15",
        "g": "2de08849a8e688a4",
        "name": "Start Time",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 150,
        "y": 120,
        "wires": [
            [
                "4491cfb6c81daf38",
                "05cc7a816e0b0a93"
            ]
        ]
    },
    {
        "id": "4491cfb6c81daf38",
        "type": "function",
        "z": "6caafa316e63ba15",
        "g": "2de08849a8e688a4",
        "name": "File Name",
        "func": "var a = new Date().toString();\nvar parts = a.split(\" \");\nvar t = parts[4].split(\":\");\nvar name = parts[3] + \"_\" + parts[1] + \"_\" + parts[2] + \"_\" +t[0]+t[1]+t[2];\n//node.warn(name);\nvar fullName = \"/Users/dkallenberg/Documents/CosmicWatch/CW_\" + name + \".txt\";\n//node.warn(fullName);\nglobal.set(\"filename\",fullName);\nmsg.filename = fullName;\nmsg.payload = \"CW_\"+ name;\nfullName = \"/Users/dkallenberg/Documents/CosmicWatch/CW_\" + name +\"Plus\"+ \".txt\"\nglobal.set(\"filenamePlus\", fullName);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 420,
        "y": 120,
        "wires": [
            [
                "5752e603a714bd63"
            ]
        ]
    },
    {
        "id": "05cc7a816e0b0a93",
        "type": "function",
        "z": "6caafa316e63ba15",
        "g": "2de08849a8e688a4",
        "name": "set Last",
        "func": "global.set(\"minLastCount\",0);\nglobal.set(\"fiveLastCount\",0);\nglobal.set(\"hourLastCount\",0);\nglobal.set(\"minLastTime\", 0);\nglobal.set(\"fiveLastTime\", 0);\nglobal.set(\"hourLastTime\", 0);\nglobal.set(\"minLastUp\", 0);\nglobal.set(\"fiveLastUp\", 0);\nglobal.set(\"hourLastUp\", 0);\nglobal.set(\"iLastTime\", 0);\nglobal.set(\"iLastCount\", 0);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 420,
        "y": 160,
        "wires": [
            []
        ]
    },
    {
        "id": "606c0b3e9733764b",
        "type": "inject",
        "z": "6caafa316e63ba15",
        "g": "2de08849a8e688a4",
        "name": "12 AM New File",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "00 00 * * *",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 170,
        "y": 160,
        "wires": [
            [
                "4491cfb6c81daf38"
            ]
        ]
    },
    {
        "id": "5752e603a714bd63",
        "type": "ui_text",
        "z": "6caafa316e63ba15",
        "g": "2de08849a8e688a4",
        "group": "5213ed1253eb0c1d",
        "order": 7,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "File Name",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 600,
        "y": 120,
        "wires": []
    },
    {
        "id": "4867080c96f1342d",
        "type": "comment",
        "z": "6caafa316e63ba15",
        "name": "Setting the file name",
        "info": "",
        "x": 150,
        "y": 20,
        "wires": []
    },
    {
        "id": "c2084f95de6ea353",
        "type": "function",
        "z": "6caafa316e63ba15",
        "name": "Add Filename",
        "func": "msg.filename = global.get(\"filenamePlus\");\nvar data =\"\";\ndata = msg.data[0];\nvar i=1;\nwhile(i<10){\n    data = data + \",\" + msg.data[i];\n}\nmsg.payload = data;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1320,
        "y": 1060,
        "wires": [
            [
                "d0c6884ac6dcd04e"
            ]
        ]
    },
    {
        "id": "d0c6884ac6dcd04e",
        "type": "delay",
        "z": "6caafa316e63ba15",
        "name": "",
        "pauseType": "delay",
        "timeout": "200",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 1510,
        "y": 1060,
        "wires": [
            [
                "1f5adf930b880fd4"
            ]
        ]
    },
    {
        "id": "1f5adf930b880fd4",
        "type": "file",
        "z": "6caafa316e63ba15",
        "name": "",
        "filename": "filename",
        "filenameType": "msg",
        "appendNewline": true,
        "createDir": true,
        "overwriteFile": "false",
        "encoding": "none",
        "x": 1680,
        "y": 1060,
        "wires": [
            []
        ]
    },
    {
        "id": "a9b087b487e937c1",
        "type": "debug",
        "z": "6caafa316e63ba15",
        "name": "debug 15",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1160,
        "y": 1120,
        "wires": []
    },
    {
        "id": "79bd18eddf95249d",
        "type": "function",
        "z": "6caafa316e63ba15",
        "name": "Add Filename",
        "func": "msg.filename = global.get(\"filename\");\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1000,
        "y": 360,
        "wires": [
            [
                "85412d7f405e4ab2"
            ]
        ]
    },
    {
        "id": "3ca97adec6f3f750",
        "type": "switch",
        "z": "6caafa316e63ba15",
        "name": "Line types",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "##########################################################################################\\n",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "### CosmicWatch: The Desktop Muon Detector",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "### Questions? saxani@mit.edu",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "### Comp_date Comp_time Event Ardn_time[ms] ADC[0-1023] SiPM[mV] Deadtime[ms] Temp[C] Name",
                "vt": "str"
            },
            {
                "t": "regex",
                "v": "^FNL",
                "vt": "str",
                "case": false
            },
            {
                "t": "regex",
                "v": "\\b[0-9]+\\b \\b[0-9]+\\b \\b[0-9]+\\b \\d*\\.?\\d* \\b[0-9]+\\b \\d*\\.?\\d*",
                "vt": "str",
                "case": false
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 6,
        "x": 270,
        "y": 320,
        "wires": [
            [
                "595545c09eef748c"
            ],
            [
                "595545c09eef748c"
            ],
            [
                "595545c09eef748c"
            ],
            [
                "595545c09eef748c"
            ],
            [
                "595545c09eef748c"
            ],
            [
                "7fd55d82258683a7",
                "be4628635e405821",
                "228360111943831e"
            ]
        ]
    },
    {
        "id": "85412d7f405e4ab2",
        "type": "delay",
        "z": "6caafa316e63ba15",
        "name": "",
        "pauseType": "delay",
        "timeout": "200",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 1170,
        "y": 360,
        "wires": [
            [
                "402df1a7496179ad"
            ]
        ]
    },
    {
        "id": "9178b635d0011d4e",
        "type": "debug",
        "z": "6caafa316e63ba15",
        "name": "debug 13",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1020,
        "y": 320,
        "wires": []
    },
    {
        "id": "1f6c385b259d8eda",
        "type": "serial in",
        "z": "6caafa316e63ba15",
        "name": "CW2",
        "serial": "c7cdfd066443399c",
        "x": 90,
        "y": 520,
        "wires": [
            [
                "3ca97adec6f3f750",
                "8e5908713477aeb6"
            ]
        ]
    },
    {
        "id": "402df1a7496179ad",
        "type": "file",
        "z": "6caafa316e63ba15",
        "name": "",
        "filename": "filename",
        "filenameType": "msg",
        "appendNewline": false,
        "createDir": true,
        "overwriteFile": "false",
        "encoding": "none",
        "x": 1340,
        "y": 360,
        "wires": [
            []
        ]
    },
    {
        "id": "f98137b5597cc70d",
        "type": "function",
        "z": "6caafa316e63ba15",
        "name": "Average Rate",
        "func": "var data = msg.data;\nvar uptime = (data[1] - data[4]) / 1000;\nmsg.uptime = uptime;\n//node.warn(data5[0]);\n//node.warn(data);\n\nif(data[0]>10){\n    var avg = (data[0] / uptime);\n    if(avg < 5){\n        msg.count = data[0];\n        var time = (new Date(uptime * 1000)).toUTCString().match(/(\\d\\d:\\d\\d:\\d\\d)/)[0];\n        msg.payload = avg.toFixed(3);\n        var onTime = data[1]/1000;\n        msg.timeTotalms = onTime;\n        //msg.timeTotal = (new Date(onTime)).toUTCString().match(/(\\d\\d:\\d\\d:\\d\\d)/)[1];\n        msg.topic = \"Average Rate\";\n        msg.uptimeDisplay = time;\n        msg.data [7] = avg.toFixed(3);\n        return [msg, msg];\n    }\n} else {\n    return [null,msg];\n}\n",
        "outputs": 2,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 580,
        "y": 460,
        "wires": [
            [
                "a671a3a5a2edad57",
                "19740a2291c8ac63",
                "4fc446d273f95848",
                "63194e6fdf2dbd02",
                "03ac0a2dfd0ffadb",
                "7e492075461da806"
            ],
            [
                "f30598f4735b1b4a"
            ]
        ]
    },
    {
        "id": "f30598f4735b1b4a",
        "type": "function",
        "z": "6caafa316e63ba15",
        "name": "Min Rate",
        "func": "var data = msg.data;\nvar lastCount = global.get(\"minLastCount\");\nvar lastTime = global.get(\"minLastTime\");\nvar lastup = global.get(\"minLastUp\");\nvar uptime = msg.uptime;\nvar dTime = (uptime - lastup);\nif(dTime >=60){\n    global.set(\"minLastCount\", data[0]);\n    global.set(\"minLastTime\", data[1]);\n    global.set(\"minLastUp\", uptime);\n    var avg = (data[0]-lastCount) / dTime;\n    msg.payload = avg.toFixed(3);\n    msg.topic = \"1 Min\";\n    data[8]=avg.toFixed(3);\n    msg.data =data;\n    var msg2 ={payload: data[5], topic: \"Temp [C]\"};\n    return [msg, msg2, msg];\n} else{\n    return [ null, null, msg];\n}",
        "outputs": 3,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 860,
        "y": 680,
        "wires": [
            [
                "7e492075461da806",
                "fedc4701c1075b45",
                "050a722ce34c7fe5"
            ],
            [
                "65c1d05de9e5cf4c"
            ],
            [
                "20749ff8fd6d43a3"
            ]
        ]
    },
    {
        "id": "20749ff8fd6d43a3",
        "type": "function",
        "z": "6caafa316e63ba15",
        "name": "5 Min Rate",
        "func": "var data = msg.data;\nvar lastCount = global.get(\"fiveLastCount\");\nvar lastTime = global.get(\"fiveLastTime\");\nvar lastup = global.get(\"fiveLastUp\");\nvar uptime = msg.uptime;\nvar dTime = (uptime - lastup);\nif (dTime >= 300) {\n    global.set(\"fiveLastCount\", data[0]);\n    global.set(\"fiveLastTime\", data[1]);\n    global.set(\"fiveLastUp\", uptime);\n    var avg = (data[0] - lastCount) / dTime;\n    msg.payload = avg.toFixed(3);\n    data[9]= msg.payload;\n    msg.data = data;\n    msg.topic = \"5 Min\";\n    return [msg, msg];\n} else {\n    return [null, msg];\n}",
        "outputs": 2,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 950,
        "y": 820,
        "wires": [
            [
                "bbebf31bac14ccab",
                "0a592267f1585ba1",
                "7e492075461da806"
            ],
            [
                "6a1299678044f3ae"
            ]
        ]
    },
    {
        "id": "6a1299678044f3ae",
        "type": "function",
        "z": "6caafa316e63ba15",
        "name": "hour Rate",
        "func": "var data = msg.data;\nvar lastCount = global.get(\"hourLastCount\");\nvar lastTime = global.get(\"hourLastTime\");\nvar lastup = global.get(\"hourLastUp\");\nvar uptime = msg.uptime;\nvar dTime = (uptime - lastup);\nif (dTime >= 3600) {\n    global.set(\"hourLastCount\", data[0]);\n    global.set(\"hourLastTime\", data[1]);\n    global.set(\"hourLastUp\", uptime);\n    var avg = (data[0] - lastCount) / dTime;\n    msg.payload = avg.toFixed(3);\n    msg.topic = \"1 Hr\";\n    return [msg,msg];\n} else {\n    return [null, msg];\n}",
        "outputs": 2,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 980,
        "y": 940,
        "wires": [
            [
                "07201ba9e41fe224",
                "4951398f18cf7759",
                "7e492075461da806"
            ],
            [
                "1bdcdab13942aada"
            ]
        ]
    },
    {
        "id": "4fc446d273f95848",
        "type": "debug",
        "z": "6caafa316e63ba15",
        "name": "Average Rate",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1300,
        "y": 420,
        "wires": []
    },
    {
        "id": "a671a3a5a2edad57",
        "type": "ui_gauge",
        "z": "6caafa316e63ba15",
        "name": "",
        "group": "5213ed1253eb0c1d",
        "order": 2,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Total Average Rate",
        "label": "Hz",
        "format": "{{value}}",
        "min": 0,
        "max": "5",
        "colors": [
            "#d2c532",
            "#2ca02c",
            "#d2c532"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 1310,
        "y": 500,
        "wires": []
    },
    {
        "id": "9a95ecb626193859",
        "type": "ui_chart",
        "z": "6caafa316e63ba15",
        "name": "Total Rate",
        "group": "5213ed1253eb0c1d",
        "order": 3,
        "width": 0,
        "height": 0,
        "label": "Instant Rate",
        "chartType": "line",
        "legend": "true",
        "xformat": "auto",
        "interpolate": "linear",
        "nodata": "Waiting",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": "1",
        "removeOlderPoints": "1000",
        "removeOlderUnit": "86400",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1280,
        "y": 460,
        "wires": [
            []
        ]
    },
    {
        "id": "19740a2291c8ac63",
        "type": "change",
        "z": "6caafa316e63ba15",
        "name": "Move uptime",
        "rules": [
            {
                "t": "move",
                "p": "uptimeDisplay",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1090,
        "y": 540,
        "wires": [
            [
                "f66243f980a66460"
            ]
        ]
    },
    {
        "id": "7e492075461da806",
        "type": "ui_chart",
        "z": "6caafa316e63ba15",
        "name": "Rate",
        "group": "949f46b1b01f6ddf",
        "order": 1,
        "width": 18,
        "height": 6,
        "label": "",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "Waiting",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": "1",
        "removeOlderPoints": "",
        "removeOlderUnit": "86400",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#2ca02c",
            "#aec7e8",
            "#ff7f0e",
            "#1f77b4",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1270,
        "y": 640,
        "wires": [
            []
        ]
    },
    {
        "id": "fedc4701c1075b45",
        "type": "ui_gauge",
        "z": "6caafa316e63ba15",
        "name": "Min Rate",
        "group": "a6e56fb9fb9db01b",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "",
        "label": "Hz",
        "format": "{{value}}",
        "min": 0,
        "max": "5",
        "colors": [
            "#e6e600",
            "#2ca02c",
            "#e6e600"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 1280,
        "y": 680,
        "wires": []
    },
    {
        "id": "050a722ce34c7fe5",
        "type": "debug",
        "z": "6caafa316e63ba15",
        "name": "1 Min",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1270,
        "y": 720,
        "wires": []
    },
    {
        "id": "bbebf31bac14ccab",
        "type": "debug",
        "z": "6caafa316e63ba15",
        "name": "5 Min",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1250,
        "y": 840,
        "wires": []
    },
    {
        "id": "07201ba9e41fe224",
        "type": "ui_gauge",
        "z": "6caafa316e63ba15",
        "name": "",
        "group": "27412869603f94c9",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "",
        "label": "Hz",
        "format": "{{value}}",
        "min": 0,
        "max": "5",
        "colors": [
            "#e6e600",
            "#2ca02c",
            "#e6e600"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 1250,
        "y": 920,
        "wires": []
    },
    {
        "id": "4951398f18cf7759",
        "type": "debug",
        "z": "6caafa316e63ba15",
        "name": "debug 5",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1260,
        "y": 960,
        "wires": []
    },
    {
        "id": "f66243f980a66460",
        "type": "ui_text",
        "z": "6caafa316e63ba15",
        "group": "5213ed1253eb0c1d",
        "order": 5,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Up Time:",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "className": "",
        "x": 1280,
        "y": 540,
        "wires": []
    },
    {
        "id": "42db5915a558cfb2",
        "type": "comment",
        "z": "6caafa316e63ba15",
        "name": "Serail In",
        "info": "",
        "x": 110,
        "y": 440,
        "wires": []
    },
    {
        "id": "abf712143ec26d4c",
        "type": "ui_text",
        "z": "6caafa316e63ba15",
        "group": "5213ed1253eb0c1d",
        "order": 6,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Total time:",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "className": "",
        "x": 1290,
        "y": 580,
        "wires": []
    },
    {
        "id": "63194e6fdf2dbd02",
        "type": "function",
        "z": "6caafa316e63ba15",
        "name": "ms to Clock",
        "func": "var time = (new Date(msg.timeTotalms * 1000)).toUTCString().match(/(\\d\\d:\\d\\d:\\d\\d)/)[0];\nmsg.payload = time;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1090,
        "y": 580,
        "wires": [
            [
                "abf712143ec26d4c"
            ]
        ]
    },
    {
        "id": "8e5908713477aeb6",
        "type": "link out",
        "z": "6caafa316e63ba15",
        "name": "To double",
        "mode": "link",
        "links": [
            "59fbf49eeba1bd26"
        ],
        "x": 305,
        "y": 600,
        "wires": []
    },
    {
        "id": "595545c09eef748c",
        "type": "delay",
        "z": "6caafa316e63ba15",
        "name": "",
        "pauseType": "delay",
        "timeout": "100",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 650,
        "y": 360,
        "wires": [
            [
                "19d24a4f0f5bc545"
            ]
        ]
    },
    {
        "id": "0a592267f1585ba1",
        "type": "ui_gauge",
        "z": "6caafa316e63ba15",
        "name": "5 Min Rate",
        "group": "87ee9eb71baf647f",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "",
        "label": "Hz",
        "format": "{{value}}",
        "min": 0,
        "max": "5",
        "colors": [
            "#e6e600",
            "#2ca02c",
            "#e6e600"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 1270,
        "y": 800,
        "wires": []
    },
    {
        "id": "7fd55d82258683a7",
        "type": "function",
        "z": "6caafa316e63ba15",
        "name": "Instant Rate ",
        "func": "var d = msg.payload.trim();\nvar data = d.split(\" \");\nvar uptime = (data[1] - data[4]);\nvar lastTime = global.get(\"iLastTime\");\nglobal.set(\"iLastTime\", uptime);\n//var iCount = global.get(\"iLastCount\");\n//global.set(\"iLastCount\", data[0]);\n//var avg = (data[0] -iCount) / (uptime - lastTime);\nvar avg = 1 / ((uptime - lastTime) / 1000);\ndata[6] = avg.toFixed(2);\nmsg.payload = avg.toFixed(3);\nmsg.data = data;\nmsg.topic = \"Instant Rate\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 470,
        "y": 420,
        "wires": [
            [
                "9178b635d0011d4e",
                "f98137b5597cc70d",
                "9a95ecb626193859",
                "45ef6d15180f6027"
            ]
        ]
    },
    {
        "id": "03ac0a2dfd0ffadb",
        "type": "ui_text",
        "z": "6caafa316e63ba15",
        "group": "5213ed1253eb0c1d",
        "order": 4,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Count",
        "format": "{{msg.count}}",
        "layout": "row-spread",
        "className": "",
        "x": 1070,
        "y": 620,
        "wires": []
    },
    {
        "id": "e7c008f650d8f3cf",
        "type": "inject",
        "z": "6caafa316e63ba15",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "[]",
        "payloadType": "str",
        "x": 630,
        "y": 660,
        "wires": [
            [
                "9a95ecb626193859",
                "7e492075461da806"
            ]
        ]
    },
    {
        "id": "0160594fbf60d997",
        "type": "inject",
        "z": "6caafa316e63ba15",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "5 min",
        "payload": "0",
        "payloadType": "num",
        "x": 500,
        "y": 700,
        "wires": [
            []
        ]
    },
    {
        "id": "69258ea6fd3f15b6",
        "type": "inject",
        "z": "6caafa316e63ba15",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "0.2",
        "topic": "1 min",
        "payload": "0",
        "payloadType": "num",
        "x": 500,
        "y": 600,
        "wires": [
            []
        ]
    },
    {
        "id": "dcebfb6430a054fe",
        "type": "ui_led",
        "z": "6caafa316e63ba15",
        "order": 1,
        "group": "5213ed1253eb0c1d",
        "width": 0,
        "height": 0,
        "label": "Hit",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#000000",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "#00ff00",
                "value": "true",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "Hit led",
        "x": 630,
        "y": 260,
        "wires": []
    },
    {
        "id": "be4628635e405821",
        "type": "trigger",
        "z": "6caafa316e63ba15",
        "name": "",
        "op1": "true",
        "op2": "false",
        "op1type": "bool",
        "op2type": "bool",
        "duration": "100",
        "extend": true,
        "overrideDelay": false,
        "units": "ms",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 480,
        "y": 260,
        "wires": [
            [
                "dcebfb6430a054fe"
            ]
        ]
    },
    {
        "id": "1bdcdab13942aada",
        "type": "gate",
        "z": "6caafa316e63ba15",
        "name": "",
        "controlTopic": "control",
        "defaultState": "closed",
        "openCmd": "open",
        "closeCmd": "close",
        "toggleCmd": "toggle",
        "defaultCmd": "default",
        "statusCmd": "status",
        "persist": false,
        "storeName": "memory",
        "x": 1150,
        "y": 1060,
        "wires": [
            [
                "c2084f95de6ea353"
            ]
        ]
    },
    {
        "id": "eb1653883abff168",
        "type": "ui_switch",
        "z": "6caafa316e63ba15",
        "name": "",
        "label": "Save Data Plus",
        "tooltip": "",
        "group": "5213ed1253eb0c1d",
        "order": 8,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "Control",
        "topicType": "str",
        "style": "",
        "onvalue": "open",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "close",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 960,
        "y": 1060,
        "wires": [
            [
                "1bdcdab13942aada",
                "a9b087b487e937c1"
            ]
        ]
    },
    {
        "id": "718d1b2dfd8ec287",
        "type": "inject",
        "z": "6caafa316e63ba15",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "0.05",
        "topic": "Control",
        "payload": "close",
        "payloadType": "str",
        "x": 840,
        "y": 1000,
        "wires": [
            [
                "eb1653883abff168"
            ]
        ]
    },
    {
        "id": "4d5b865e2a1a0940",
        "type": "ui_switch",
        "z": "6caafa316e63ba15",
        "name": "",
        "label": "Save Data",
        "tooltip": "",
        "group": "5213ed1253eb0c1d",
        "order": 8,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "Control",
        "topicType": "str",
        "style": "",
        "onvalue": "open",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "close",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 650,
        "y": 320,
        "wires": [
            [
                "19d24a4f0f5bc545"
            ]
        ]
    },
    {
        "id": "19d24a4f0f5bc545",
        "type": "gate",
        "z": "6caafa316e63ba15",
        "name": "",
        "controlTopic": "control",
        "defaultState": "open",
        "openCmd": "open",
        "closeCmd": "close",
        "toggleCmd": "toggle",
        "defaultCmd": "default",
        "statusCmd": "status",
        "persist": false,
        "storeName": "memory",
        "x": 830,
        "y": 360,
        "wires": [
            [
                "79bd18eddf95249d"
            ]
        ]
    },
    {
        "id": "228360111943831e",
        "type": "function",
        "z": "6caafa316e63ba15",
        "name": "Switch to ,",
        "func": "\nmsg.payload.replace(\" \",\",\");\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 470,
        "y": 380,
        "wires": [
            [
                "595545c09eef748c"
            ]
        ]
    },
    {
        "id": "45ef6d15180f6027",
        "type": "debug",
        "z": "6caafa316e63ba15",
        "name": "Instant Rate",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 970,
        "y": 420,
        "wires": []
    },
    {
        "id": "65c1d05de9e5cf4c",
        "type": "ui_chart",
        "z": "6caafa316e63ba15",
        "name": "Temp [C]",
        "group": "949f46b1b01f6ddf",
        "order": 1,
        "width": 18,
        "height": "4",
        "label": "",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "Waiting",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": "1",
        "removeOlderPoints": "",
        "removeOlderUnit": "86400",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#2ca02c",
            "#aec7e8",
            "#ff7f0e",
            "#1f77b4",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1280,
        "y": 760,
        "wires": [
            []
        ]
    },
    {
        "id": "d161089b95f53555",
        "type": "inject",
        "z": "6caafa316e63ba15",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "0.09",
        "topic": "",
        "payload": "close",
        "payloadType": "str",
        "x": 750,
        "y": 200,
        "wires": [
            [
                "4d5b865e2a1a0940"
            ]
        ]
    },
    {
        "id": "5213ed1253eb0c1d",
        "type": "ui_group",
        "name": "Instant and Other",
        "tab": "3ad1cd10ca15b6ac",
        "order": 1,
        "disp": false,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "c7cdfd066443399c",
        "type": "serial-port",
        "serialport": "/dev/tty.usbserial-1230",
        "serialbaud": "9600",
        "databits": "8",
        "parity": "none",
        "stopbits": "1",
        "waitfor": "",
        "dtr": "none",
        "rts": "none",
        "cts": "none",
        "dsr": "none",
        "newline": "\\n",
        "bin": "false",
        "out": "char",
        "addchar": "",
        "responsetimeout": "10000"
    },
    {
        "id": "949f46b1b01f6ddf",
        "type": "ui_group",
        "name": "Rate Graph",
        "tab": "3ad1cd10ca15b6ac",
        "order": 5,
        "disp": true,
        "width": 18,
        "collapse": false,
        "className": ""
    },
    {
        "id": "a6e56fb9fb9db01b",
        "type": "ui_group",
        "name": "1 min Rate [Hz]",
        "tab": "3ad1cd10ca15b6ac",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "27412869603f94c9",
        "type": "ui_group",
        "name": "1hr Rate [Hz]",
        "tab": "3ad1cd10ca15b6ac",
        "order": 4,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "87ee9eb71baf647f",
        "type": "ui_group",
        "name": "5 min Rate [Hz]",
        "tab": "3ad1cd10ca15b6ac",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "3ad1cd10ca15b6ac",
        "type": "ui_tab",
        "name": "CosmicWatch Live",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    }
]
